.vscode
.env
Cahier des charges.odt
fichier a utiliser pour la charte grapphique
.~lock*
purbeurre_project/__pycache__
search/__pycache__
search/migrations/__pycache__
usercontrol/__pycache__
usercontrol/migrations/__pycache__