[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
django-debug-toolbar = "*"

[packages]
django = "*"
psycopg2-binary = "*"
requests = "*"
whitenoise = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
