{% extends 'search/base.html' %}

{% block content %}
{% load static %}
<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Du gras, oui mais de qualité!</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <h2 class="text-white-75 font-weight-light mb-5">Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</h2>
          {% if user.authenticated %}
          <h2>{{user.username}}</h2>
          {% endif %}
          <form action="{% url 'search:result' %}" method="post" class="form-inline">
            {% csrf_token %}
            <div class="input-group mx-auto">
              {% comment %} <input type="search" name="food" placeholder="Produit" class="form-control"> {% endcomment %}
              {{ form.research }}
              <div class="input-group-append">
                <button type="submit" class="btn btn-info">Chercher</button>
              </div>
            </div>
          </form><!-- end form -->
        </div><!-- end div.col-lg-8... -->
      </div>
    </div>
</header>

<!-- About Section -->
<section class="page-section bg-primary" id="about">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h2 class="text-white mt-0">Colette et Remy</h2>
          <hr class="divider light my-4">
          <dvi class="row">
            <div class="col-12 col-lg-6">
              <p class="text-white-50 mb-4"> <strong>Colette Tatou</strong> : "Nous aimons tous manger, surtout en France ! Personnellement, une baguette fraîche, du bon fromage de chèvre et un bon vin rouge me suffisent amplement. Comme tout le monde, je fais mes courses au supermarché. Mais petit à petit je me suis rendue compte, surtout lorsque nous avons ouvert le restaurant, que je pouvais remplacer les produits aseptisés que j'avais l'habitude d'acheter par de bons produits du terroir Et souvent pour le même prix !"</p>
              <img class="img-fluid" src="{% static 'search/img/colette-tatou-full.png' %}" alt="colette">
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-white-50 mb-4"><strong>Remy</strong> : "Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me balader, surtout dans les caves et
                les cuisines. Je connaissais par coeur le contenu des boutiques bio (dont je raffole) ainsi que les ingrédients de tous
                les aliments vendus. Lorsque Colette m'a demandé si elle pouvait remplacer son Nutella matinal par un aliment plus sain,
                je savais tout de suite où le trouver. L'idée de Pur Beurre était née !"</p>
                <img class="img-fluid" src="{% static 'search/img/ratatouille-portrait.png' %}" alt="remy">
            </div>
          </dvi>
        </div>
      </div>
    </div>
</section>

<!-- Contact Section -->
<section class="page-section bg-dark text-white" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Contactez-nous !</h2>
          <hr class="divider my-4">
          <p class="text-white mb-5">Vous ne trouvez pas votre produit et vous voulez l'ajouter dans notre base de données. Vous voulez un renseignement, contactez-nous !</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fas fa-phone fa-3x mb-3 color-cyan"></i>
          <div>+1 (202) 555-0149</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 color-cyan"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block text-white" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
        </div>
      </div>
    </div>
</section>
{% endblock content %}