{% extends 'search/base.html' %}
{% block content %}

<header class="masthead">
    <div class="container-fluid">
        <div class="row text-white">
            <div class="col-12">
                <h1 class="text-center">Mention légale</h1>
            </div>
            <div class="col-12">
                <p><strong>Hébergueur: </strong><a href="https://www.heroku.com/">Héroku</a>.</p>
                <br>
                <p><strong>Template: </strong><a href="https://blackrockdigital.github.io/startbootstrap-creative/">startBootstrap</a>.</p>
                <br>
                <p><strong>Photos: </strong>Voir la charte graphique section <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/langage-visuel/photographies">photos</a>.</p>
                <br>
                <p><strong>Couleur: </strong>Voir la charte graphique section <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/elements-basiques/colors">couleur</a>.</p>
                <br>
                <p><strong>Icone: </strong><a href="https://fontawesome.com/">Font Awesome</a></p>
            </div>
        </div>
    </div>
</header>

{% endblock content %}