body
{
    font-family: "Scope One", sans-serif;
}

h1, h2, h3, h4
{
    font-family: "Open Sans", sans-serif;
}

#field-login
{
    width: 50%;
    margin-left: 26%;
    background-color: rgba(232, 167, 93, 0.2);
}

.fav-icon-bg
{
    width: 40px;
    background-color: #DE9440;
    color: #345A61;
    border: 1px solid #DE9440;
    border-radius: 4px;
}

.btn-color-personal
{
    color: #345A61;
    background-color: #DE9440;
}

.btn-color-personal:hover
{
    color: #345A61;
    background-color: #E8A75D;
}

#sign-up
{
    color: #86EBE6;
}