body
{
    font-family: "Scope One", sans-serif;
}

h1, h2, h3, h4
{
    font-family: "Open Sans", sans-serif;
}

a:hover
{
    text-decoration: none;
}

#fiel-search-nav-bar
{
    background-color: rgba(212, 212, 212, 0.733);
    border: 1px solid rgba(212, 212, 212, 0.733);
}

.height-display
{
    height: 100vh;
    padding-top: 120px;
}

.degrad
{
    background-image: radial-gradient(circle at center, rgba(232, 167, 93, 0.7), rgba(196, 85, 37, 0.9));
}

#img-food
{
    height: 15vh;
}

.nut-group
{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    background-color: #DE9440;
    border: 2px solid #C45525;
    border-radius: 30px;
}

div.h2
{
    margin: 0;
}

.color-darkblue
{
    color: #345A61;
}

.size-card
{
    width: 25rem;
}

.size-img
{
    height: 25rem;
}